    <!-- This information will be shown in the tab preview and in social media preview -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Metatags for facebook, google etc. -->
    <meta property="og:title" content="Health Psychologists on Mastodon" />
    <meta
      property="og:description"
      content="This is a list of Mastodon accounts of health psychologists."
    />
    <meta
      property="og:image"
      content="XXX add full url to preview-image"
    />
    <meta
      property="og:url"
      content="https://hpss.one/mastodon.html"
    />
    <meta property="og:type" content="website" />

    <!-- Metatags for twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:url"
      content="XXX Add full url to webpage"
    />
    <meta
       property="twitter:title"
       content="Health Psychologists on Mastodon"
    />
    <meta
      property="twitter:description"
      content="This is a list of Mastodon accounts of health psychologists."
    />
    <meta
      property="twitter:image"
      content="XXX Add full link to preview-image"
    />
    <!-- loads styling and scripts -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/js/app.js"></script>
    <script src="assets/js/papaparse.min.js"></script>
